body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f5f5f5;
}

.container {
  width: 350px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: rgb(50, 110, 255);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: rgb(30, 85, 225);
}

.link {
  cursor: pointer;
  color: blue;
}

#message {
  color: red;
  margin-top: 10px;
}